body {
  background-color: #f4f6ff;
}

/*---------------NavBar---------------*/
.navbar {
  background-color: #fbd46d;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

/*---------------Content Section---------------*/
#content{
  padding-top: 3rem;
}
/*---------------Navigation---------------*/
#sideBar {
  max-width: 14rem !important;
  width: 15%;
  min-height: 90%;
  background-color: #4f8a8b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 4rem;
}
#blog{

  padding-bottom: 50px;
}
.nav-link {
  color: white;
  margin-left: 2rem;
}
#sideBar .active{
  margin-left: 1rem;
}

.navigation {
  margin: 5px 10px;
}

/*---------------content---------------*/
/* Blog Content */
#blog {
  margin-left: 15%;
  padding: 3% 5%;
}

.date {
  color: gray;
}

/* Add Blog */
.editArea {
  width: 70%;
  margin: 5px;
  background-color: #fbd46d55;
  border: 1px solid #e7dfd5;
  border-radius: 5px;
}

.inputContent {
  height: 200px;
  display: block;
}

/*---------------invisible---------------*/
.hidden{
  display: none;
}
